<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>T-Log</title>
<style type="text/css">
<!--
-->
</style>
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div align="center">
  <table width="790" border="0" cellspacing="0" cellpadding="0" class="main_table">
    <tr class="menu_links1">
      <td height="25" align="center" valign="middle" background="images/menu_back0.jpg" bgcolor="#CCCCCC"><a href="#" class="menu_links1">Тексты</a> <a href="#" class="menu_links1">Картинки</a> <span class="menu_links1"><a href="#" class="menu_links1">Видео</a></span> <span class="menu_links1"><a href="#" class="menu_links1">Цитаты</a></span> <a href="#" class="menu_links1">Ссылки</a> <a href="#" class="menu_links1">Импортированное</a></td>
    </tr>
    <tr>
      <td height="120" align="center" valign="middle" background="images/top_back.jpg" bgcolor="#184860"><div class="main_title"><a href="#" class="main_title">ZoRg Soft T-Log</a></div>
        <div class="main_title2">Добро пожаловать в мой T-Log...</div>
      </td>
    </tr>
    <tr>
      <td height="20" align="center" background="images/menu_back2.jpg" class="menu_login"><div align="right">Вход не выполнен: <a href="#">Войти</a></div></td>
    </tr>
    <tr>
      <td valign="top" class="main_content"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3" class="message_title">Новость №1</td>
        </tr>
        <tr>
          <td colspan="3" class="message_content">Не привык всеже я работать фриланесром, вот и нашел себе нову обычную  работу админом. Пока много не предлагают на первое время, но в  дальнейшем может будет даже больше и лучше, чем на прошлой работе.  Покрайней мере тут будет проще задачи поставленные мне. В понедельник  или вторник жду звонка от работодателя.</td>
        </tr>
        <tr>
          <td class="message_other">Автор: <a href="#">ZoRg</a></td>
          <td width="30%" class="message_other"><a href="#">Комментарии: 0</a></td>
          <td width="30%" class="message_other"><div align="right">23 Марта 2008 21:23</div></td>
        </tr>
      </table></td>
    </tr>
    <tr class="menu_links1">
      <td height="20" valign="middle" class="footer_text"><p align="center"><img src="images/ico/rss_16.png" width="16" height="16" align="absbottom" /> <strong>RSS</strong>: <a href="#">Тексты</a>, <a href="#">Картинки</a>, <a href="#">Видео</a>, <a href="#">Цитаты</a>, <a href="#">Ссылки</a>, <a href="#">Импортированное</a>.</p>
      <p align="center">Copyright &copy; 2008 by Sergey Agarkov (ZoRg). Powered by <a href="http://mydiary.net.ru" target="_blank">MiTex T-Log</a>.</p></td>
    </tr>
  </table>
</div>
</body>
</html>
